<main class="main" id="main">
   
   <!-- <div class="banner">
      <div class="banner-title">
         <h4>Our Service</h4>
      </div>
      <div class="banner-subtitle">
         <h6>Building products is not our only job. We care about our clients.</h6>
      </div>
   </div> -->

   <div class="pagetitle">
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Our Services</li>
         </ol>
      </nav>
   </div>

   <!-- Start Here -->
   <div class="container pb-5">
      <div class="row ">
         <div class="col-4">
            <div class="service-image">
               <img src="assets/img/service.png" alt="">
            </div>
         </div>
         <div class="col-8 d-flex flex-column  justify-content-center align-items-between">

            <div class="row">
               <div class="col-6">
                  <div class="card bg-dark ">
                     <div class="card-body ">
                        <!-- <h5 class="card-title text-white m-0">Membership</h5> -->
                        <i class="bi bi-box  fs-1 text-white"></i>
                        <div class="d-flex align-items-center">
                           <div class="">
                              <h4 class="m-0"></h4>
                              <span class="text-white small pt-1 fs-2 fw-bold">Service </span> <span
                                 class="pt-2 fs-5 text-white ps-1">Onhovered</span>
                              <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non
                                 iusto assumenda molestiae ipsum, corporis iste.</p>
                           </div>
                           <div class="card-icon  rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-journal-text d-none"></i>
                           </div>
                        </div>
                        <div class="view-more-btn d-flex justify-content-center">
                           <!-- <button class=" ">View More <i class="bi bi-arrow-right-circle-fill"></i></button> -->
                        </div>
                     </div>

                  </div>
               </div>
               <div class="col-6">
                  <div class="card bg-warning">
                     <div class="card-body ">
                        <!-- <h5 class="card-title text-white m-0">Membership</h5> -->
                        <i class="bi bi-file-bar-graph fs-1 text-white"></i>
                        <div class="d-flex align-items-center">
                           <div class="">
                              <h4 class="m-0"></h4>
                              <span class="text-white small pt-1 fs-2 fw-bold">Service </span> <span
                                 class="pt-2 fs-5 text-white ps-1">Onhovered</span>
                              <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non
                                 iusto assumenda molestiae ipsum, corporis iste.</p>
                           </div>
                           <div class="card-icon  rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-journal-text d-none"></i>
                           </div>
                        </div>
                        <div class="view-more-btn d-flex justify-content-center">
                           <!-- <button class=" ">View More <i class="bi bi-arrow-right-circle-fill"></i></button> -->
                        </div>
                     </div>

                  </div>
               </div>

            </div>

            <div class="row">
               <div class="col-6">
                  <div class="card bg-success ">
                     <div class="card-body ">
                        <!-- <h5 class="card-title text-white m-0">Membership</h5> -->
                        <i class="bi bi-box  fs-1 text-white"></i>
                        <div class="d-flex align-items-center">
                           <div class="">
                              <h4 class="m-0"></h4>
                              <span class="text-white small pt-1 fs-2 fw-bold">Service </span> <span
                                 class="pt-2 fs-5 text-white ps-1">Onhovered</span>
                              <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non
                                 iusto assumenda molestiae ipsum, corporis iste.</p>
                           </div>
                           <div class="card-icon  rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-journal-text d-none"></i>
                           </div>
                        </div>
                        <div class="view-more-btn d-flex justify-content-center">
                           <!-- <button class=" ">View More <i class="bi bi-arrow-right-circle-fill"></i></button> -->
                        </div>
                     </div>

                  </div>
               </div>
               <div class="col-6">
                  <div class="card bg-danger">
                     <div class="card-body ">
                        <!-- <h5 class="card-title text-white m-0">Membership</h5> -->
                        <i class="bi bi-file-bar-graph fs-1 text-white"></i>
                        <div class="d-flex align-items-center">
                           <div class="">
                              <h4 class="m-0"></h4>
                              <span class="text-white small pt-1 fs-2 fw-bold">Service </span> <span
                                 class="pt-2 fs-5 text-white ps-1">Onhovered</span>
                              <p class="text-white">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non
                                 iusto assumenda molestiae ipsum, corporis iste.</p>
                           </div>
                           <div class="card-icon  rounded-circle d-flex align-items-center justify-content-center">
                              <i class="bi bi-journal-text d-none"></i>
                           </div>
                        </div>
                        <div class="view-more-btn d-flex justify-content-center">
                           <!-- <button class=" ">View More <i class="bi bi-arrow-right-circle-fill"></i></button> -->
                        </div>
                     </div>

                  </div>
               </div>

            </div>


         </div>
      </div>
   </div>

   <div class="container-fluid bg-yellowish py-5">
      <div class="container">
         <div class="row">
            <div class="col-8">
               <h2 class="title">Service</h2>
               <h4 class="sub-title pb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</h4>
               <button class="btn btn-success">Subscribe</button>
            </div>
            <div class="col-4">
            </div>
         </div>
      </div>
   </div>

   <div class="container py-5">
      <div class="row">
         <div class="col-12">
            <h1 class="title text-center">Our Services</h1>
            <h6 class="sub-title text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, iure.</h6>
         </div>
      </div>

      <div class="row py-5">
         <div class="col-3">
            <div class="box py-4 d-flex flex-column justify-content-center">
               <div class="box-image">
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-1-square-fill" viewBox="0 0 16 16">
                     <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm7.283 4.002V12H7.971V5.338h-.065L6.072 6.656V5.385l1.899-1.383h1.312Z"/>
                   </svg>
               </div>
               <div class="box-title">
                  <h4 class="title  pt-4 ">Service - 1</h4>
                  <p class="fs-6">Lorem ipsum dolor sit amet  Hic minima similique totam, debitis tempora mollitia impedit accusamus consequatur nulla fuga iusto! Fugiat nostrum optio dicta repellat doloribus?</p>
               </div>
            </div>
         </div>
         <div class="col-3">
            <div class="box py-4 d-flex  flex-column justify-content-center">
               <div class="box-image">
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-2-square-fill" viewBox="0 0 16 16">
                     <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm4.646 6.24v.07H5.375v-.064c0-1.213.879-2.402 2.637-2.402 1.582 0 2.613.949 2.613 2.215 0 1.002-.6 1.667-1.287 2.43l-.096.107-1.974 2.22v.077h3.498V12H5.422v-.832l2.97-3.293c.434-.475.903-1.008.903-1.705 0-.744-.557-1.236-1.313-1.236-.843 0-1.336.615-1.336 1.306Z"/>
                   </svg>
               </div>
               <div class="box-title">
                  <h4 class="title  pt-4 ">Service - 2</h4>
                  <p class="fs-6">Lorem ipsum dolor  tempora mollitia impedit accusamus consequatur nulla fuga iusto! Fugiat nostrum optio dicta repellat doloribus?</p>
               </div>
            </div>
         </div>
         <div class="col-3">
            <div class="box py-4 d-flex  flex-column justify-content-start">
               <div class="box-image">
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-3-square-fill" viewBox="0 0 16 16">
                     <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.918 8.414h-.879V7.342h.838c.78 0 1.348-.522 1.342-1.237 0-.709-.563-1.195-1.348-1.195-.79 0-1.312.498-1.348 1.055H5.275c.036-1.137.95-2.115 2.625-2.121 1.594-.012 2.608.885 2.637 2.062.023 1.137-.885 1.776-1.482 1.875v.07c.703.07 1.71.64 1.734 1.917.024 1.459-1.277 2.396-2.93 2.396-1.705 0-2.707-.967-2.754-2.144H6.33c.059.597.68 1.06 1.541 1.066.973.006 1.6-.563 1.588-1.354-.006-.779-.621-1.318-1.541-1.318Z"/>
                   </svg>
               </div>
               <div class="box-title">
                  <h4 class="title  pt-4 ">Service - 3</h4>
                  <p class="fs-6">Lorem ipsum dolor sit amet  Hic minima similique totam, debitis tempora mollitia impedit accusamus consequatur nulla fuga iusto! Fugiat nostrum optio dicta repellat doloribus?</p>
               </div>
            </div>
         </div>
         <div class="col-3">
            <div class="box py-4 d-flex  flex-column justify-content-center">
               <div class="box-image">
                  <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-4-square-fill" viewBox="0 0 16 16">
                     <path d="M6.225 9.281v.053H8.85V5.063h-.065c-.867 1.33-1.787 2.806-2.56 4.218Z"/>
                     <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2Zm5.519 5.057c.22-.352.439-.703.657-1.055h1.933v5.332h1.008v1.107H10.11V12H8.85v-1.559H4.978V9.322c.77-1.427 1.656-2.847 2.542-4.265Z"/>
                   </svg>
               </div>
               <div class="box-title">
                  <h4 class="title  pt-4 ">Service - 4</h4>
                  <p class="fs-6">Lorem ipsum dolor consequatur nulla fuga iusto! Fugiat nostrum optio dicta repellat doloribus?</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>