/* You can add global styles to this file, and also import other style files */

@font-face {
    /* font-family: Questrial; */
    font-family: 'Open Sans', sans-serif !important;
    src: url('./assets/fonts/OpenSans/OpenSans-Regular.ttf');
}

* {
    font-family: 'Open Sans', sans-serif !important;
}

body{
    overflow: hidden;
    /* background-color: #e7ffff; */
}

a {
    text-decoration: none;
    font-size: 15px !important;
}

.header span{
    cursor: pointer;
}

p {
    font-size: 12px !important;
}


/* Banner Style Start*/
.banner{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 50px 0 30px 0;
    background-color: #4B5563;
}

.banner .banner-title h4{
    color: white;
    font-size: 48px;
    font-weight: 500;
}

.banner .banner-subtitle h6{
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
}

/* Banner Style End */

.fs-500{
    font-weight: 500;
}

.dataTable-table th a {
    text-transform: uppercase;
    font-weight: 700;
}

.dataTable-table>thead>tr>th:last-child {
    width: 0%;
}

.dataTable-table>thead>tr>th {
    padding: 10px 20px !important;
}

.dataTable-table>thead>tr>th:first-child {
    width: 10%;
}

.dataTable-sorter::before {
    border-top: 4px solid #fff !important;
    opacity: 1 !important;
}

.dataTable-sorter::after {
    border-bottom: 4px solid #fff !important;
    opacity: 1 !important;
}

button:focus-visible {
    outline: none;
    border: none !important;
    border-radius: 0px !important;
}

#borderedTabJustified li:focus-visible,
#borderedTabJustified button:focus-visible {
    outline: none !important;
    border: none !important;
    border-radius: 0px !important;
}

#v-pills-tab button:focus-visible {
    border-radius: 0px !important;
    border: none !important;
    outline: none;
}

* {
    font-family: Questrial;
    font-weight: 300;
}

::-webkit-scrollbar {
    width: 4px;
    background: white;
}

::-webkit-scrollbar:horizontal {
    height: 4px;
    background: white;
}

#main {
    margin-right: 4px;
    padding: 50px 30px !important;
}

::-webkit-scrollbar-thumb {
    background: #27AA50;
    border-radius: 4px;
}

/* Comments Style */
/* You can add global styles to this file, and also import other style files */

.comments-title {
    font-size: 30px;
    /* margin-bottom: 20px; */
}

.comments-container {
    margin-top: 40px;
}

.comment-form-title {
    font-size: 22px;
}

.comment-form-textarea {
    width: 100%;
    height: 80px;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    margin-top: 8px;
    border: 1px solid rgb(107, 114, 12);
}

.comment-form-button {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 16px;
    background: #27AA50;
    border-radius: 4px;
    float: right;
    border: none;
    color: white;
}

.comment-form-button:hover:enabled {
    cursor: pointer;
    background: #27AA50;
}

.comment-form-button:disabled {
    opacity: 0.7;
    cursor: default;
}

.comment-form-cancel-button {
    margin-left: 10px;
}

.comment {
    display: flex;
    margin-bottom: 28px;
}

.comment-image-container {
    margin-right: 20px;
    width: 40px;
    height: 40px;
}

.comment-image-container img {
    border-radius: 50px;
}

.comment-right-part {
    width: 100%;
}

.comment-content {
    display: flex;
}

.comment-author {
    margin-right: 8px;
    font-size: 20px;
    color: rgb(59, 130, 246);
}

.comment-text {
    font-size: 18px;
}

.comment-actions {
    display: flex;
    font-size: 12px;
    color: rgb(51, 51, 51);
    cursor: pointer;
    margin-top: 8px;
}

.comment-action {
    margin-right: 8px;
}

.comment-action:hover {
    text-decoration: underline;
}

.replies {
    margin-top: 20px;
}