<main id="main" class="main">
   <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
         </ol>
      </nav>
   </div>
   <section class="section dashboard">

      <div class="row py-4">
         <div class="col-3" data-bs-toggle="tooltip" data-bs-placement="bottom"
         title="We working on it...">
            <div class="cursor d-flex bg-success rounded align-items-center justify-content-between">
               
               <div class="d-icon">
                  <!-- <i class="bi bi-arrow-down "></i> -->
                  <i class="bi  bi-journal-check"></i>
               </div>
               <h2 class="t m-0  text-white ">Certificate</h2>
            </div>
         </div>
         <div class="col-3" data-bs-toggle="tooltip" data-bs-placement="bottom"
         title="We working on it...">
            <div class="cursor d-flex bg-2 rounded align-items-center justify-content-between">
               <div class="d-icon">
                  <!-- <i class="bi bi-arrow-down "></i> -->
                  <i class="bi bi-receipt-cutoff"></i>
               </div>
               <h2 class="t m-0  text-white ">Invoice </h2>
            </div>
         </div>
         <div class="col-3"data-bs-toggle="tooltip" data-bs-placement="bottom"
         title="We working on it...">
            <div class="cursor d-flex bg-1 rounded align-items-center justify-content-between">
               <div class="d-icon ">
                  <!-- <i class="bi bi-arrow-down "></i> -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="30" fill="currentColor"
                     class="bi p-1 text-white bi-currency-rupee" viewBox="0 0 16 16">
                     <path
                        d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z" />
                  </svg>
               </div>
               <h2 class="t m-0  text-white">Payment </h2>
            </div>
         </div>
         <div class="col-3" data-bs-toggle="tooltip" data-bs-placement="bottom"
         title="We working on it...">
            <div class="cursor d-flex bg-danger rounded align-items-center justify-content-between">
               <div class="d-icon">
                  <!-- <i class="bi bi-arrow-down "></i> -->
                  <i class="bi bi-calendar2-event"></i>
               </div>
               <h2 class="t m-0 text-white ">Events </h2>
            </div>
         </div>
      </div>

      <div class="row">

         <div class="col-xxl-3 col-xl-12">
            <div class="card info-card customers-card red">
               
               <div class="card-body">
                  <div class="card-head d-flex align-items-center justify-content-between">
                     <h5 class="card-title text-white m-0">Membership</h5>
                     <i class="bi bg-t fs-1 bi-person-fill"></i>
                  </div>
                  <div class="d-flex align-items-center py-2 px-4">
                     <!-- <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <svg
                           xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                           class="bi bi-currency-rupee d-none" viewBox="0 0 16 16">
                           <path
                              d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z" />
                        </svg></div> -->
                     <div class="d-flex align-items-center justify-content-between">
                        <span class="text-danger small fs-2 fw-bold">12% </span><span
                           class="text-white font-weight-bold pt-2 ps-1">Increase</span>
                        <h4 class="m-0"></h4>
                     </div>
                  </div>
                  <div class="view-more-btn d-flex justify-content-center">
                     <button class=" ">View More <i class="bi bi-arrow-right-circle-fill"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-3 col-md-6">
            <div class="card info-card revenue-card blue">
               <div class="card-body">
                  <!-- <h5 class="card-title text-white m-0"></h5> -->
                  <div class="card-head d-flex align-items-center justify-content-between">
                     <h5 class="card-title text-white m-0">Policy Adovcacy</h5>
                     <i class="bi bg-t bi-journal-check"></i>
                  </div>
                  <div class="d-flex align-items-center px-3">

                     <div class="py-2">
                        <span class="num small fs-2 fw-bold">15% </span><span
                           class="pt-2 text-white ps-1">Increase</span>
                     </div>

                  </div>
                  <div class="view-more-btn d-flex justify-content-center">
                     <button class=" ">View More <i class="bi bi-arrow-right-circle-fill"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-3 col-xl-12">
            <div class="card info-card customers-card red">
               <!-- <div class="filter">
                   <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                   <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                         <h6>Filter</h6>
                      </li>
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                   </ul>
                </div> -->
               <div class="card-body">
                  <!-- <h5 class="card-title text-white m-0"> </h5> -->
                  <div class="card-head d-flex align-items-center justify-content-between">
                     <h5 class="card-title text-white m-0">Regulaltory Support</h5>
                     <!-- <i class="bi bg-t fs-1 bi-person-fill"></i> -->
                     <i class="bi bg-t bi-headset"></i>
                  </div>
                  <div class="d-flex align-items-center py-2 px-4">
                     <!-- <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <svg
                           xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                           class="bi bi-currency-rupee d-none" viewBox="0 0 16 16">
                           <path
                              d="M4 3.06h2.726c1.22 0 2.12.575 2.325 1.724H4v1.051h5.051C8.855 7.001 8 7.558 6.788 7.558H4v1.317L8.437 14h2.11L6.095 8.884h.855c2.316-.018 3.465-1.476 3.688-3.049H12V4.784h-1.345c-.08-.778-.357-1.335-.793-1.732H12V2H4v1.06Z" />
                        </svg></div> -->
                     <div class="">
                        <span class="text-danger small pt-1 fs-2 fw-bold">12% </span><span
                           class="text-white font-weight-bold pt-2 ps-1">Increase</span>
                        <h4 class="m-0"></h4>
                     </div>
                  </div>
                  <div class="view-more-btn d-flex justify-content-center">
                     <button class=" ">View More <i class="bi bi-arrow-right-circle-fill"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-3 col-xl-12">
            <div class="card info-card customers-card orange">
               <!-- <div class="filter">
                   <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                   <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                      <li class="dropdown-header text-start">
                         <h6>Filter</h6>
                      </li>
                      <li><a class="dropdown-item" href="#">Today</a></li>
                      <li><a class="dropdown-item" href="#">This Month</a></li>
                      <li><a class="dropdown-item" href="#">This Year</a></li>
                   </ul>
                </div> -->
               <div class="card-body">
                  <!-- <h5 class="card-title m-0"></h5> -->
                  <div class="card-head d-flex align-items-center justify-content-between">
                     <h5 class="card-title text-white m-0">Schemes & Subsidies</h5>
                     <!-- <i class="bi bg-t fs-1 bi-person-fill"></i> -->
                     <i class="bi bg-t bi-envelope-check"></i>
                  </div>
                  <div class="d-flex align-items-center">
                     <!-- <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                           class="bi bi-ui-checks text-dark d-none"></i></div> -->
                     <div class="ps-3 py-2">
                        <h4 class="m-0"></h4>
                        <span class=" num  small pt-1 fs-2 fw-bold">28% </span><span
                           class=" pt-2 ps-1 text-black">Increase</span>
                     </div>
                  </div>
                  <div class="view-more-btn d-flex justify-content-center">
                     <button class=" ">View More <i class="bi bi-arrow-right-circle-fill"></i></button>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-8">
            <div class="card recent-sales overflow-auto">
               <div class="card-body">
                  <h5 class="card-title px-0">AHNMI <span>| Today</span></h5>
                  <table class="table table-borderless datatable">
                     <thead>
                        <tr>
                           <th scope="col">ID</th>
                           <th scope="col">Document</th>
                           <th scope="col">Status</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <th scope="row"><a href="#">2457</a></th>
                           <td>Brandon Jacob</td>
                           <td><span class="badge bg-success">Approved</span></td>
                        </tr>
                        <tr>
                           <th scope="row"><a href="#">2147</a></th>
                           <td>Bridie Kessler</td>
                           <td><span class="badge bg-warning">Pending</span></td>
                        </tr>
                        <tr>
                           <th scope="row"><a href="#">2049</a></th>
                           <td>Ashleigh Langosh</td>
                           <td><span class="badge bg-success">Approved</span></td>
                        </tr>
                        <tr>
                           <th scope="row"><a href="#">2644</a></th>
                           <td>Angus Grady</td>
                           <td><span class="badge bg-danger">Rejected</span></td>
                        </tr>
                        <tr>
                           <th scope="row"><a href="#">2644</a></th>
                           <td>Raheem Lehner</td>
                           <td><span class="badge bg-success">Approved</span></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         <div class="col-4 d-flex  flex-column justify-content-between">

            <div class="card ">
               <div class="card-body">
                  <div class="row">
                     <div class="col-2 bg-success rounded-left p-2 d-flex align-items-center justify-content-center">
                        <i class="bi bi-heart fs-2 text-white"></i>
                     </div>
                     <div class="col-10 py-3">
                        <h5>Mentions</h5>
                        <h6 class="m-0">1,00,000</h6>

                     </div>
                  </div>
               </div>
            </div>
            <div class="card ">
               <div class="card-body">
                  <div class="row">
                     <div class="col-2 bg-danger p-2 rounded-left d-flex align-items-center justify-content-center">
                        <i class="bi bi-cloud-arrow-down  fs-2 text-white"></i>
                     </div>
                     <div class="col-10 py-2">
                        <h5>Download</h5>
                        <h6>1,00,000</h6>

                     </div>
                  </div>
               </div>
            </div>
            <div class="card ">
               <div class="card-body">
                  <div class="row">
                     <div class="col-2 bg-warning p-2 rounded-left d-flex align-items-center justify-content-center">
                        <i class="bi bi-chat-dots fs-2 text-white"></i>
                     </div>
                     <div class="col-10 py-2">
                        <h5>Contact</h5>
                        <h6>Gaura Verma</h6>

                     </div>
                  </div>
               </div>
            </div>
            <div class="card ">
               <div class="card-body">
                  <div class="row">
                     <div class="col-2 blue p-2 rounded-left d-flex align-items-center justify-content-center">
                        <i class="bi bi-heart fs-2 text-white"></i>
                     </div>
                     <div class="col-10 py-2">
                        <h5>Service</h5>
                        <h6>1,000</h6>

                     </div>
                  </div>
               </div>
            </div>






         </div>
      </div>

      <div class="row">
         <div class="col-12 ">

            <div class="card">
               <div class="card-body px-4">
                  <h5 class="card-title">Latest <span>/events </span></h5>
                  <div id="reportsChart"></div>
               </div>
            </div>
         </div>
      </div>

      <div class="row d-none">

         <div class="col-6 ">
            <div class="card px-3 pb-3">

               <!-- <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                     <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                     </li>
                     <li><a class="dropdown-item" href="#">Today</a></li>
                     <li><a class="dropdown-item" href="#">This Month</a></li>
                     <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
               </div> -->
               <div class="card-body pb-0">
                  <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>
                  <div class="news">
                     <div class="post-item clearfix">
                        <img src="assets/img/news-1.jpg" alt="">
                        <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                        <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                     </div>
                     <div class="post-item clearfix">
                        <img src="assets/img/news-2.jpg" alt="">
                        <h4><a href="#">Quidem autem et impedit</a></h4>
                        <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...
                        </p>
                     </div>
                     <div class="post-item clearfix">
                        <img src="assets/img/news-3.jpg" alt="">
                        <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                        <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...
                        </p>
                     </div>
                     <div class="post-item clearfix">
                        <img src="assets/img/news-4.jpg" alt="">
                        <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                        <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...
                        </p>
                     </div>
                     <div class="post-item clearfix">
                        <img src="assets/img/news-5.jpg" alt="">
                        <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                        <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos
                           eius...</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-6 ">
            <div class="card">

               <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                     <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                     </li>
                     <li><a class="dropdown-item" href="#">Today</a></li>
                     <li><a class="dropdown-item" href="#">This Month</a></li>
                     <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
               </div>
               <div class="card-body pb-0">
                  <h5 class="card-title">Website Traffic <span>| Today</span></h5>
                  <div id="trafficChart" style="min-height: 400px;" class="echart"></div>
               </div>
            </div>

         </div>
      </div>
   </section>
</main>