<!-- <app-header *ngIf="shouldShowComponent(url)" ></app-header> -->

<main style="padding: 20px 40px !important;" *ngIf="membershipActive" id="main" class="main">

   <section class="section dashboard">

      <div class="row py-4">
         <div class="col-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Coming Soon">
            <div class="cursor d-flex bg-success rounded align-items-center justify-content-between">

               <div class="d-icon">
                  <i class="bi  bi-journal-check"></i>
               </div>
               <h2 class="t m-0  text-white ">Apply Certification</h2>
            </div>
         </div>
         <div class="col-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Coming Soon">
            <div class="cursor d-flex bg-2 rounded align-items-center justify-content-between">
               <div class="d-icon">
                  <i class="bi bi-receipt-cutoff"></i>
               </div>
               <h2 class="t m-0  text-white ">Request Advertisment </h2>
            </div>
         </div>
         <div class="col-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Coming Soon">
            <div class="cursor d-flex bg-1 rounded align-items-center justify-content-between">
               <div class="d-icon ">
                  <i class="bi bi-question-circle-fill"></i>
               </div>
               <h2 class="t m-0  text-white">Ask Query</h2>
            </div>
         </div>
         <div class="col-3" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Coming Soon">
            <div class="cursor d-flex bg-danger rounded align-items-center justify-content-between">
               <div class="d-icon">
                  <i class="bi bi-calendar2-event"></i>
               </div>
               <h2 class="t m-0 text-white ">Events & Blogs</h2>
            </div>
         </div>
      </div>

      <div class="row">

         <div class="col-xxl-4 col-md-6">
            <div class="card info-card revenue-card blue">
               <div class="card-body" (click)="route('policy-adovcacy')">
                  <div class="card-head d-flex align-items-center justify-content-between">
                     <h5 class="card-title text-white m-0">Policy Adovcacy</h5>
                     <i class="bi bg-t bi-journal-check"></i>
                  </div>
                  <div class="d-flex align-items-center px-3">

                     <div class="py-2">
                        <span class="num small fs-2 fw-bold">15 </span><span
                           class="pt-2 text-white ps-1">Documents</span>
                     </div>

                  </div>
                  <div class="view-more-btn d-flex justify-content-center">
                     <button class=" ">View More <i class="bi bi-arrow-right-circle-fill"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card red">

               <div class="card-body" style="cursor: 'not-allowed';">
                  <div class="card-head d-flex align-items-center justify-content-between">
                     <h5 class="card-title text-white m-0">Regulaltory Support</h5>
                     <i class="bi bg-t bi-headset"></i>
                  </div>
                  <div class="d-flex align-items-center py-2 px-4">

                     <div class="">
                        <span class="text-danger small pt-1 fs-2 fw-bold">12 </span><span
                           class="text-white font-weight-bold pt-2 ps-1">Documents</span>
                        <h4 class="m-0"></h4>
                     </div>
                  </div>
                  <div class="view-more-btn d-flex justify-content-center">
                     <button style="cursor: 'not-allowed';" class=" ">Coming Soon&nbsp; <i
                           class="bi bi-arrow-right-circle-fill"></i></button>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-xxl-4 col-xl-12">
            <div class="card info-card customers-card orange">

               <div class="card-body" style="cursor: 'not-allowed';">
                  <div class="card-head d-flex align-items-center justify-content-between">
                     <h5 class="card-title text-white m-0">Schemes & Subsidies</h5>
                     <i class="bi bg-t bi-envelope-check"></i>
                  </div>
                  <div class="d-flex align-items-center">
                     <div class="ps-3 py-2">
                        <h4 class="m-0"></h4>
                        <span class=" num  small pt-1 fs-2 fw-bold">28 </span><span
                           class=" pt-2 ps-1 text-black">Documents</span>
                     </div>
                  </div>
                  <div class="view-more-btn d-flex justify-content-center">
                     <button style="cursor: 'not-allowed';" class=" ">Coming Soon &nbsp;<i
                           class="bi bi-arrow-right-circle-fill"></i></button>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="row">

         <!-- Left Side Table -->
         <div class="col-8">
            <div class="card py-1 recent-sales overflow-auto">
               <div class="card-body">
                  <!-- Add datatable Class to show search btn -->
                  <div class="row">
                     <div class="col-12 d-flex justify-content-between">
                        <div class="pt-1 sub-categories-title">
                               <h5 class="card-title px-0">AHNMI <span>| Today</span></h5>
                            </div>
                            <div class="search-btn" >
                                    <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search">
                            </div>
                        </div>
                    </div>


                  <table class="table table-borderless ">
                     <thead>
                        <tr>
                           <th scope="col">Date</th>
                           <th scope="col">Document</th>
                           <th class="text-center" scope="col">Short Description</th>
                           <th class="text-center" scope="col">Sub Category</th>
                           <th scope="col">Category</th>
                        </tr>
                     </thead>
                     <tbody *ngFor="let td of recentTable | filter: searchText">
                        <tr class="pt-4" >
                           <td class="fs-6">{{td.created_at.split("T")[0]}}</td>
                           <td class="fs-6">{{td.document_name_slug}}</td>
                           <td class="text-center "><span class=" text-center ">{{td.docs_longdiscription}}</span></td>
                           <th class="text-center fs-5" scope="row"><a class="text-center">{{td.subcategory_id}}</a></th>
                           <td class="text-center ">
                              <span class="badge blue">Policy Advocacy</span>
                           </td>
                        </tr>
                        
                        
                     </tbody>
                  </table>
               </div>
            </div>
         </div>


         <!-- Right Side Card -->
         <div class="col-4 d-flex  flex-column gap-3">

            <!-- Checklist Card -->
            <div class="card m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Coming Soon">
               <div class="card-body">
                  <div class="row">
                     <div class="col-2 bg-success rounded-left p-2 d-flex align-items-center justify-content-center">
                        <i class="bi bi-card-checklist fs-2 text-white"></i>
                     </div>
                     <div class="col-10 py-3">
                        <h5>Activity Checklist</h5>
                        <h6 class="m-0">Statement to be filled</h6>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Edit Card -->
            <div class="card m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Coming Soon">
               <div class="card-body">
                  <div class="row">
                     <div class="col-2 bg-danger p-2 rounded-left d-flex align-items-center justify-content-center">
                        <i class="bi bi-pencil-square fs-2 text-white"></i>
                     </div>
                     <div class="col-10 py-2">
                        <h5>Edit Details</h5>
                        <h6>Edit membership details</h6>
                     </div>
                  </div>
               </div>
            </div>

            <!-- Certified Card -->
            <div class="card m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Coming Soon">
               <div class="card-body">
                  <div class="row">
                     <div class="col-2 blue p-2 rounded-left d-flex align-items-center justify-content-center">
                        <!-- <i class="bi bi-heart "></i> -->
                        <i class="bi bi-person-lines-fill fs-2 text-white"></i>
                     </div>
                     <div class="col-10 py-2">
                        <h5>Get Certified</h5>
                        <h6>Apply for AHNMI certification</h6>

                     </div>
                  </div>
               </div>
            </div>

            <!-- Contact Card -->
            <div class="card m-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Coming Soon">
               <div class="card-body">
                  <div class="row">
                     <div class="col-2 bg-warning p-2 rounded-left d-flex align-items-center justify-content-center">
                        <i class="bi bi-chat-dots fs-2 text-white"></i>
                     </div>
                     <div class="col-10 py-2">
                        <h5>Contact</h5>
                        <h6>AHNMI Professionals</h6>
                     </div>
                  </div>
               </div>
            </div>

         </div>


      </div>


   </section>
</main>

<div class="container" *ngIf="!membershipActive">
   <app-test></app-test>
</div>